include ./jade/mixins.jade

doctype html
html
    head
        include ./jade/head.jade
        script(type="text/javascript", src="https://code.jquery.com/jquery-1.11.2.min.js")
        script(type="text/javascript", src="/loginpage.js")

    body
        div(class="col-md-3", id="leftbar")
            include ./jade/leftbar.jade

        div(class="col-xs-6 col-md-offset-3", id="midbar")
            input(type="text", id="username", placeholder="Username")
            input(type="text", id="password", placeholder="Password")
            button(id="submitcreds")

        div(class="col-md-3 col-md-offset-9", id="rightbar")
            +loginbar

            div(id="postlist")
                for month in months
                    +monthlist(month)
