div(id="sidebarContent")
	h1 restful pesto
	div(id="imgHolder")
		img(class="mainimage", src="https://c1.staticflickr.com/1/85/209708058_b5a5fb07a6_z.jpg")
	h5(id="aboutText") Coding, cooking and camping! We are really cool. We are on Founders and Coders. 
	div(id="logoHolder")
		img(class="img-circle logo", src="http://cdn4.freepik.com/image/th/318-40209.png")
		img(class="img-circle logo", src="http://djhworld.github.io/images/github1.png")
		img(class="img-circle logo", src="http://cdn4.freepik.com/image/th/318-40209.png")
		img(class="img-circle logo", src="http://cdn4.freepik.com/image/th/318-40209.png")