div(id="sidebarContent")
    h1 stuff
    div(id="imgHolder")
    h5 stuff stuff stuff
    div(id="logoHolder")
        img(src="assets/twitter-48-black.png")
        img(src="assets/twitter-48-black.png")
        img(src="assets/twitter-48-black.png")
        img(src="assets/twitter-48-black.png")