include ./jade/mixins.jade

doctype html
html
    head
        include ./jade/head.jade
        script(type="text/javascript", src="https://code.jquery.com/jquery-1.11.2.min.js")
        script(type="text/javascript", src="/createpost.js")

    body
        div(class="col-md-3", id="leftbar")
            include ./jade/leftbar.jade

        div(class="col-xs-6 col-md-offset-3", id="midbar")
            h1 This page doesn't exist
            h4 Please select another one from the sidebar

        div(class="col-md-3 col-md-offset-9", id="rightbar")

            div(role="toolbar", class="btn-group toolbar")
                button(class="btn-group")
                button(class="btn-group")
                button(class="btn-group")

            div(id="postlist")
                for month in months
                    +monthlist(month)
