include ./jade/mixins.jade

doctype html
html
    head
        include ./jade/head.jade

    body
        div(class="col-md-3", id="leftbar")
            include ./jade/leftbar.jade

        div(class="col-xs-6 col-md-offset-3", id="midbar")        
            each post in months[now]
                +blogpost(post)

        div(class="col-md-3 col-md-offset-9", id="rightbar")

            div(role="toolbar", class="btn-group toolbar")
                button(class="btn-group")
                button(class="btn-group")
                button(class="btn-group")

            div(id="postlist")
                for month in months
                    +monthlist(month)

